/* App container styles */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Header styles */
h2 {
  margin: 10px 0;
  color: #007bff; /* Change header color to blue */
}

/* Input styles */
input {
  padding: 5px;
  margin-bottom: 14px;
  border: 1px solid #ccc; /* Add a border to input fields */
  border-radius: 4px; /* Add rounded corners */
}

/* Button styles */
button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Add rounded corners */
  margin-left: 9px;
}

/* Button hover styles */
button:hover {
  background-color: #0056b3;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
}

/* List item styles */
li {
  margin: 5px 0;

  
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table cell styles */
table, th, td {
  border: 1px solid #ccc;
}

/* Table cell padding and alignment */
th, td {
  padding: 10px;
  text-align: left;
}

/* Table even row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}